/* 遊び方 */
h1 {
  font-size: large;
}
h2 {
  font-size: medium;
  margin-bottom: 4px;
}
ul {
  margin: 0;
  padding: 4px;
  list-style: none;

}
.rules {
    background-color: #FCF2E0;
    border: 1px solid #F2CAAA;
  padding: 24px;
}



/* ボタンをボードの位置 */
.container {
      color: #43464d;
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
  padding: 32px;
}

/* ボタンを縦並び */
.btns {
  display: flex;
  gap: 12px;
    grid-template-columns: 1fr;

}

/* ボタン */
button {
  width:  120px;
    background-color: #FCF2E0;
    border: 1px solid #F2CAAA;

    outline: none;
    padding: 8px 12px ;
}


/* ボード */
#board {
  display: grid;
  gap: 5px;
  background-color:#FCF2E0;
  padding: 10px;
  width: fit-content;  /* 子要素に合わせる */
  margin: 0 auto;
}

/* 各タイル */
.tile {
  outline: 1px solid#F2CAAA;
  font-size: 20px;
  cursor: pointer;
}



/* セルが押されたとき色を変える*/
/* 1回押された */
.tile[data-Light="1"] {
  background-color: #C9A5B6;
}
/* 2回押された */
.tile[data-Light="2"] {
   background-color: #C1DBD1;
}

/* ヒントのセルは色をつける */
/* セル周囲線が実線：そのセルを2回押す、セル周囲線が波線：セルを1回押す*/
/* 答えが１回押す、現在０回おされている場合 */
.hint .tile[data-answer = "1"][data-pushed = "0"] {
  outline:  #6c758a solid 2px;
}
/* 答えが１回押す、現在1回おされている場合 */
.hint .tile[data-answer = "1"][data-pushed = "1"] {
    outline:  #6c758a  2px dashed;
    /* outline:  #838EA8  2px dashed; */
}
/* 答えが２回押す、現在０回おされている場合 */
.hint .tile[data-answer = "2"][data-pushed = "0"] {
      outline:  #6c758a  2px dashed;
}
/* 答えが２回押す、現在２回おされている場合 */
.hint .tile[data-answer = "2"][data-pushed = "2"] {
  outline:  #6c758a solid 2px;
}
/* 答えが0回押す、現在1回おされている場合 */
.hint .tile[data-answer = "0"][data-pushed = "1"] {
  outline:  #6c758a solid 2px;
}
/* 答えが0回押す、現在２回おされている場合 */
.hint .tile[data-answer = "0"][data-pushed = "2"] {
      outline:  #6c758a  2px dashed;
}
